/*Restear valores que trae css por defecto*/
* {
  padding: 0;
  margin: 0;
}
/*Dar al body un display grid, para crear nuestra cuadricula*/
body {
  color: black;
  background-color: white; /* hex 0 - f #rgb */
  display: grid;
  grid-template-areas: 
  "header header"
  "aside main"
  "footer footer";
  grid-template-columns: 10em 1fr;
  grid-template-rows: 5em 1fr 10em;
  height: 100vh;
  width: 100vw;
}
/*Establecer cada elemento con una area que viene del grid */
header {
  grid-area: main;
  background-color: greenyellow;
}
aside {
  background-color: red;
  grid-area: footer;
}
main {
  grid-area: aside;
  background-color: yellow;
}
footer {
  grid-area: header;
  background-color: purple;
}
