/*Psudoclases para los diferentes elementos, existen mas sin embargo estas son las mas basicas*/
div:hover{
  background-color: black;
}

input:focus {
  border: 16px solid red;
}

input:disabled {
  background-color: red;
}
input:checked {
  background-color: red;
}
input:active {
  background-color: green;
}
