/*Uso de transform para alterara un elemeto*/
button {
  border: none;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 0.5em 2em;
  height: 2em;
  background-color: rgb(0, 21, 255);
  color: white;
  transform: skewX(12deg) translate(120px); /*Como lo hacemos aqui*/
  transition: all 1s ease-out;
  animation: fade 2s 1s;
}
button:hover {
  background-color: aqua;
}
